commonConfigMap:
  Identity__AuthorityUrl : "https://auth.{{ .Values.environment_hostname }}"
  {{ if eq .Values.env_name "test"  }}
  Serilog__MinimumLevel__Default: "Debug"
  {{ else }}
  Serilog__MinimumLevel__Default: "Warning"
  {{ end }}
  Serilog__WriteTo__ElasticSink__Args__indexFormat: "log-{{ lower .Values.env_name }}-{0:yyyy.MM}"
  Serilog__WriteTo__ElasticSink__Args__nodeUris: "https://elastic.mattgerega.net/"
  AllowedOrigins__0: "https://*.{{ .Values.environment_hostname }}"
  {{ if eq .Values.env_name "test"  }}
  AllowedOrigins__1: "http://localhost:3000"
  {{ end }}